<!DOCTYPE html>
<html lang="{% html_lang %}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta charset="utf-8" />
	<link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
	<title>{{ "ZKWeb Framework" | trans }}</title>
	{% include_css_here "/static/common.base.css/components.css" %}
	{% include_css_here "/static/demo.css/index.css" %}
</head>
<body>
	<div class="header-outer">
		<div class="header">
			<a class="view-on-github" href="https://github.com/zkweb-framework/zkweb">
				<img src="/static/demo.images/github-light.png" />
				{{ "View on GITHUB" | trans }}
			</a>
			<h1 class="logo">
				{{ "ZKWeb Framework" | trans }}
			</h1>
			<h3>{{ "Flexible web framework support .Net Framework and .Net Core" | trans }}</h3>
			<div class="icons">
				<a href="https://github.com/zkweb-framework/zkweb"><img src="https://img.shields.io/github/forks/zkweb-framework/zkweb.svg?style=social&label=Fork" /></a>
				<a><img src="https://img.shields.io/github/license/zkweb-framework/zkweb.svg" alt=""></a>
				<a href="http://www.nuget.org/packages/ZKWeb"><img src="https://camo.githubusercontent.com/494393efbd6c16b5e3caaa16164b73fff22f5723/68747470733a2f2f6275696c6473746174732e696e666f2f6e756765742f5a4b576562" alt="NuGet" data-canonical-src="https://buildstats.info/nuget/ZKWeb" style="max-width:100%;"></a>
			</div>
			<div class="row summary">
				<div class="col-md-4">
					<div class="summary-inner">
						<h3>{{ "Dynamic Plugins" | trans }}</h3>
						<p>{{ "Powered by roslyn, support automatic recompile after source code changed." | trans }}</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="summary-inner">
						<h3>{{ "Disinct Web Layer" | trans }}</h3>
						<p>{{ "Support running on Asp.Net, Asp.Net Core, Owin, no code difference." | trans }}</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="summary-inner">
						<h3>{{ "Multiple ORM Support" | trans }}</h3>
						<p>{{ "Support EFCore, NHibernate, Dapper, MongoDB, InMemory, through the same interface." | trans }}</p>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="introduction">
		<div class="row">
			<div class="col-md-8">
				<h3>{{ "Dynamic Plugins" | trans }}</h3>
				<h4>{{ "Powered by roslyn, support c# 6.0 features." | trans }}</h4>
				<h4>{{ "Support runtime plugin reload." | trans }}</h4>
				<h4>{{ "Support automatic recompile and reload after plugin source code changed." | trans }}</h4>
				<h4>{{ "Directory based, small memory footprint." | trans }}</h4>
			</div>
			<div class="col-md-4">
				<img src="/static/demo.images/intro-plugins.jpg" />
			</div>
		</div>
	</div>
	<div class="introduction">
		<div class="row">
			<div class="col-md-7">
				<h3>{{ "Disinct Web Layer" | trans }}</h3>
				<h4>{{ "Support running on Asp.Net, Asp.Net Core, Owin, no code difference." | trans }}</h4>
				<h4>{{ "Custom MVC routing and pipeline." | trans }}</h4>
			</div>
			<div class="col-md-5">
				<img src="/static/demo.images/intro-web-layer.png" />
			</div>
		</div>
	</div>
	<div class="introduction">
		<div class="row">
			<div class="col-md-7">
				<h3>{{ "Multiple ORM Support" | trans }}</h3>
				<h4>{{ "Support EFCore, NHibernate, Dapper, MongoDB, InMemory, through the same interface." | trans }}</h4>
				<h4>{{ "Support automatic database scheme migration for EFCore and NHibernate." | trans }}</h4>
			</div>
			<div class="col-md-5">
				<img src="/static/demo.images/intro-orm-support.png" />
			</div>
		</div>
	</div>
	<div class="introduction">
		<div class="row">
			<div class="col-md-7">
				<h3>{{ "Dotliquid Template" | trans }}</h3>
				<h4>{{ "Dotliquid template engine, django and rails like syntax." | trans }}</h4>
				<h4>{{ "Support django style template overriding over plugins." | trans }}</h4>
				<h4>{{ "Support mobile specialized templates." | trans }}</h4>
				<h4>{{ "Support dynamic contents (area-widget model)." | trans }}</h4>
				<h4>{{ "Support per-widget render cache for extremely fast rending." | trans }}</h4>
			</div>
			<div class="col-md-5">
				<img src="/static/demo.images/intro-dotliquid.png" />
			</div>
		</div>
	</div>
	<div class="introduction">
		<div class="row">
			<div class="col-md-7">
				<h3>{{ "Project toolkits" | trans }}</h3>
				<h4>{{ "Provide custom project creator, include command-line and gui version." | trans }}</h4>
				<h4>{{ "Provide custom project publisher, include command-line and gui version." | trans }}</h4>
			</div>
			<div class="col-md-5">
				<img src="/static/demo.images/intro-toolkit.jpg" />
			</div>
		</div>
	</div>
	<div class="introduction">
		<div class="row">
			<div class="col-md-7">
				<h3>{{ "Demo site" | trans }}</h3>
				<h4>{{ "Provide free and open source default plugins." | trans }}</h4>
				<h4>{{ "Include admin panel, form builder, CRUD page scaffolding." | trans }}</h4>
				<h4><a href="{{ "/admin" | url }}">{{ "Visit demo site (Username: demo, Password: 123456)" | trans }}</a></h4>
			</div>
			<div class="col-md-5">
				<img src="/static/demo.images/intro-demo.jpg" />
			</div>
		</div>
	</div>
	<div class="footer-outer">
		<div class="footer">
			<p>Powered by <a href="http://www.zkweb.org">ZKWeb Framework</a></p>
			<p>Copyright © 2016 303248153@github</p>
		</div>
	</div>
	{% include_js_here "/static/common.base.js/components.min.js" %}
	{% include_js_here "/static/demo.js/index.min.js" %}
</body>
</html>
